venv/
.env/

__pycache__/
*.pyc
*.pyo
*.pyd


output/*


!output/.gitkeep
!output/Invoices/
!output/Results/


output/Results/*.csv
output/Invoices/*.jpg


!output/Invoices/.gitkeep
!output/Results/.gitkeep